<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="json.log.myspringblog.mapper.ForEveryearMapper">
    <select id="selectForeveryear" resultType="Foreveryear">
        select * from foreveryear
    </select>
<!--    id, month, day, timing-->
</mapper>